html,
body {
    height: 100%;
    margin: 0;
}

.boxes {
    display: flex;
    height: 100%;
}

#Lbox,
#Rbox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid black;
}

#Lbox {
    background-color: pink;
}

#Rbox {
    background-color: skyblue;
}